/* Main */

.svg
{
  margin-left: 4em;
}

.quotes-row
{
    height: 300px;
}

.social-icon:hover
{
    color: #88b7b3;
}

/* Experience */

@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

.svg-container 
{
top: 20px;
left: 100px;
display: inline;
position: relative;
vertical-align: middle;
height: 200px;
width: 50%;
margin: auto;
}

.left-svg
{
    left: 300px;
}

.right-svg
{
  left: 200px;
}

.svg-container p
{
    display: inline;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 40%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 4px;
            // background-color: white;
background: linear-gradient(
   rgba(44, 46, 53, 0.97), rgba(44, 46, 53, 0.97) 50%, #88b7b3 50%, #88b7b3
);
  background-size: 100% 202%;
  transition: all 0.2s ease;
  animation: down-bump 0.4s ease;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: white;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline > li > .timeline-panel:hover {
 border-color: #996699;
 background-position: 100% 100%;
 background-color: #88b7b3;
}


.timeline-panel h5 {
    color: black;
    text-transform: uppercase;
}

.timeline-panel span {
    color: white;
}
.timeline-panel p {
    color: white;
    font-family: "Lucida Sans";
}


.timeline-panel:hover h4 {
    color: #663366;
    font-weight: 300em;
    /*font-family: "Playfair Display";*/
}

.timeline-panel:hover h5 {
    color: white;}

.timeline-panel:hover span {
    color: white;
}
.timeline-panel:hover p {
    color: white;
    font-family: "Lucida Sans";
}

.timeline-title {
    margin-top: 0;
    color: white;
    text-transform: lowercase;
    letter-spacing: .1em;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}