<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]> <html class="ie10" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]> <html lang="en"> <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio website that showcases the incredible skills of Amber Tunnell.">
    <meta name="author" content="Amber Tunnell">
    <meta name="p:domain_verify" content="864c9e98b26fd78f436d90c2b2e8560b"/>
    <link rel="shortcut icon" href="ico/favicon.ico?v=2">

    <title>ambertunnell</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/custom-media-queries.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/magnific-popup.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="js/modernizr.custom.js"></script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54979469-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>

    <div class="preloader">
       <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
    </div>


    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper cbp-af-header">
      <div class="container">

        <!-- Fixed navbar -->
        <div class="navbar cbp-af-inner" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1><a class="navbar-brand scroll" href="#intro">Home</a></h1>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li><a href="#about">About</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#contact-section">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Hero Banner
    ================================================== -->
    <div id="intro">
        <div class="item" style="background: url('img/dusty-sky.jpeg'); background-size: cover">
          <div class="container">
            <div class="row">
              <div class="carousel-caption-center colour-white">
                <h1>hi, i'm amber.</h1>
                <p>full stack web developer + designer</p>  
                    <div class="main-buttons row">
                      <div class="col-lg-12" style="height: 200px;">  

                          <div class="coffee-svg-box col-md-3">
                            <div id="coffee" class="svg" style="height: 100px;">&nbsp;</div>
                            <a class="about-link main-btn btn btn-primary scroll" href="#about" title="Learn about me." role="button" style="width: 100%; margin: 10px auto;">about</a>
                          </div>

                          <div class="code-svg-box col-md-3">
                            <div id="code" class="svg" style="height: 100px">&nbsp;</div>
                            <a class="work-link  main-btn btn btn-primary scroll" href="#work" title="See my work." role="button" style="width: 100%; margin: 10px auto;">work</a>
                          </div>

                          <div class="blog-svg-box col-md-3">
                            <div id="blog" class="svg" style="height: 100px">&nbsp;</div>
                            <a class="blog-link main-btn btn btn-primary scroll" href="http://ambertunnell.github.io" title="Read my blog." target="_blank" role="button" style="width: 100%; margin: 10px auto;">blog</a>
                          </div>

                          <div class="contact-svg-box col-md-3">
                            <div id="contact" class="svg" style="height: 100px">&nbsp;</div>
                            <a class="contact-link main-btn btn btn-primary scroll" href="#contact-section" title="Contact me." role="button" style="width: 100%; margin: 10px auto;">contact</a>
                          </div>
                          <div class="col-md-.8">&nbsp;</div>
                     
                    </div> 
                </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- background cover end -->
    </div><!-- intro end -->



    <!-- About Section
    ================================================== -->
    <section id="about" class="content text-center light">

      <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-12 overlay-text">
            <h2>About me</h2>
            <div class="col-md-6">
                <p>I have always been fascinated with telling stories, and I took that interest to web development and attended The Flatiron School in New York this summer in order to become a programmer and learn to tell awesome stories through code. Now, I am a full stack web developer, eagerly looking for my next challenge.
                  <br><br>
                Prior to Flatiron, I graduated from Columbia University and worked in publishing and journalism.</p> 
            </div>
            <div class="col-md-6">
              <h3>Skills</h3>
              <div>
                <h5>Front-end</h5>
                <p><i class="fa fa-html5" style="color: #996699;"></i> HTML5 <i class="fa fa-css3" style="color: #996699;"></i> CSS3 <i class="fa fa-code" style="color: #996699;"></i> JavaScript/jQuery</p>
                <h5>Back-end</h5>
                <p><i class="fa fa-code" style="color: #996699;"></i> Ruby</p>
                <h5>Version Control</h5>
                <p><i class="fa fa-github-square" style="color: #996699;"></i> Git & Github</p>
                <h5>Design</h5>
                <p><i class="fa fa-picture-o" style="color: #996699;"></i> Adobe Creative Suite</p>
              </div>
            </div>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->

      <div class="overlay-bg light"></div>

    </section>

    <!-- Quotes
    ================================================== -->
    <section id="quotes" class="dark" style="background: url('img/bg-featured1.gif'); background-size: cover">
      <div class="page-header text-center">
        <h3>Quotes</h3>
      </div>

      <div class="container">

        <div class='row'>
          <div class='col-md-offset-1 col-md-10'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">

              <!-- Bottom Carousel Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
              </ol>

              
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner">
              
                <!-- Quote 1 -->
                <div class="item active">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-12">
                        <p>"To live is to change, to acquire the words of a story."</p>
                        <small>Barbara Kingsolver, <i>The Poisonwood Bible</i></small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-12">
                        <p>"The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars..."</p>
                        <small>Jack Kerouac, <i>On the Road</i></small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-12">
                        <p>"Go and make interesting mistakes, make amazing mistakes, make glorious and fantastic mistakes. Break rules. Leave the world more interesting for your being here. Make good art."</p>
                        <small>Neil Gaiman</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
              
              <!-- Carousel Buttons Next/Prev -->
              <a data-slide="prev" href="#quote-carousel" class="left carousel-control visible-md visible-lg"><i class="fa fa-chevron-left"></i></a>
              <a data-slide="next" href="#quote-carousel" class="right carousel-control  visible-md visible-lg"><i class="fa fa-chevron-right"></i></a>

              </div>                          
            </div>
          </div>
        </div>
      </div>

    </section>


    <!-- Portfolio
    ================================================== -->
    <section class="section-content section-isotope separator" id="work">

      <div class="page-header text-center">
        <h3>Projects</h3>
        <h2>latest work</h2>
      </div>

      <div class="container">
        <div id="filters" class="button-group text-center">
          <button data-filter-value="*" class="active">show all</button>
          <button data-filter-value=".websites">websites</button>
<!--           <button data-filter-value=".books">books</button>
          <button data-filter-value=".articles">articles</button>
          <button data-filter-value=".photography">photography</button> -->
        </div>
        <div class="row demo-3">
          <div id="portfolio" class="js-isotope grid cs-style-1" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".portfolio-item" }'>

            <div class="col-sm-6 col-md-4 portfolio-item websites">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>worldview</h3>
                  <span>Website</span>
                </div>
                <!-- Thumbnail -->
                <img src="img/thumbs/worldview/screenshot-main.png" alt="Worldview Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="img/thumbs/worldview/screenshot-main.png" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="http://www.world-view.today" target="_blank" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>

            <div class="col-sm-6 col-md-4 portfolio-item websites">
              <figure>     
                <!-- Thumb Info -->
                <div class="info">
                  <h3>odysee</h3>
                  <span>Website</span>
                </div>   
                <!-- Thumbnail -->
                <img src="img/thumbs/odysee/screenshot-main.png" alt="Odysee Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="img/thumbs/odysee/screenshot-main.png" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="http://www.odysee.voyage" target="_blank" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>
            

    </section>

    <!-- Work Experience
    ================================================== -->
    <section class="dark" id="experience" style="background: url('img/bg-featured1.gif');">

      <div class="page-header text-center">
        <h3>Education + Work Experience</h3>
        <h2>my journey</h2>
      </div>

    <div class="container">
    <ul class="timeline">
        <li>
          <div class="svg-container right-svg" >
            <p>&nbsp;</p>
            <div style="display:inline;" id="code2"></div>
          </div>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">stack exchange</h4>
            </div>
            <div class="timeline-body">
              <h5>August 2014 - October 2014</h5>
              <p>Fellowship for Flatiron grads starting their careers as web developers.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="svg-container left-svg" >
            <p>&nbsp;</p>
            <div style="display:inline;" id="knife"></div>
          </div>
          <div class="timeline-badge">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">flatiron school</h4>
            </div>
            <div class="timeline-body">
              <h5>June 2014 - August 2014</h5>
              <p>Intensive web development program focusing on Ruby, Ruby on Rails, Javascript/jQuery, HTML, & CSS.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="svg-container right-svg" >
            <p>&nbsp;</p>
            <div style="display:inline;" id="pen"></div>
          </div>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">peter pauper press</h4>
            </div>
            <div class="timeline-body">
              <h5>June 2012 - May 2014</h5>
              <p><span>Associate Editor.</span> Wrote and edited books, ebooks, and children's products. Managed the development of a series of iPhone applications for the new media market.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="svg-container left-svg" >
            <p>&nbsp;</p>
            <div style="display:inline;" id="cap"></div>
          </div>
          <div class="timeline-badge"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">columbia university</h4>
              <h5>August 2008 - May 2012</h5>
            </div>
            <div class="timeline-body">
              <p>Graduated with a Philosophy and English Literature double degree, with advanced additional coursework in Calculus, Linear Algebra, and Physics.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="svg-container right-svg" >
            <p>&nbsp;</p>
            <div style="display:inline;" id="book"></div>
          </div>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">high school</h4>
              <h5>August 2004 - May 2008</h5>
            </div>
            <div class="timeline-body">
              <p>Valedictorian. Excelled in Science, Math, English, & History. </p>
            </div>
          </div>
        </li>
    </ul>
</div>
</section>

    <!-- Contact
    ================================================== -->
    <section id="contact-section" class="cta text-center" >

      <div class="container">

        <div class="row social" style="height: 100px;">
          <h3 style="margin: 10px 0px 20px;">Find me on social media.</h3>
          <div class="col-lg-12">
            <a href="http://github.com/ambertunnell" target="_blank" title="Github">
              <i class="col-md-2 fa fa-github fa-5x social-icon"></i>
            </a>
            <a href="http://stackoverflow.com/users/3826943/amber-tunnell" target="_blank" title="Stack Overflow">
              <i class="col-md-2 fa fa-stack-overflow fa-5x social-icon"></i>
            </a>
            <a href="http://www.linkedin.com/profile/view?trk=tab_pro&id=116357700" target="_blank" title="Linkedin">
              <i class="col-md-2 fa fa-linkedin fa-5x social-icon"></i>
            </a>
            <a href="http://twitter.com/ambertunnell" target="_blank" title="Twitter">
              <i class="col-md-2 fa fa-twitter fa-5x social-icon"></i>
            </a>
            <!-- <a href="http://combustingstar.deviantart.com/" target="_blank" title="Deviantart">
              <i class="col-md-2 fa fa-deviantart fa-5 social-icon"></i>
            </a> -->
            <a href="http://instagram.com/ambertunnell" target="_blank" title="Instagram">
              <i class="col-md-2 fa fa-instagram fa-5x social-icon"></i>
            </a>
            <a href="http://www.pinterest.com/ambertunnell/" target="_blank" title="Pinterest">
              <i class="col-md-2 fa fa-pinterest fa-5x social-icon"></i>
            </a>
          </div>
        </div>

        <div class="row" style="height: 70px;">
        </div>
        
        <div class="row">
          <div class="col-lg-12">
            <p><button class="btn contact-button" type="button" role="button">Contact me!</button></p>

            <div class='contact-form'>
              <form name="sentMessage" id="contactForm"  novalidate>
                <div class='name'>
                  <input class='form-control first' placeholder='First Name' type='text' id="first_name" autofocus required data-validation-required-message="Please enter your first name">
                  <input class='last' placeholder='Last Name' type='text' id="last_name" required data-validation-required-message="Please enter your last name">
                </div>
                <div class='contact'>
                  <input class='form-control email' placeholder='E-mail Address' type='text' id="email" required data-validation-required-message="Please enter your email">
                </div>
                <div class='message'>
                  <textarea class="form-control" placeholder='Your message' id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                </div>
                <div id="success"> </div> <!-- For success/fail messages -->
                <footer class="submit-button">
                  <button type="submit">Send your message</button>
                </footer>
              </form>
            </div>
          </div>
        </div>

      </div>

    </section>


    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">    
        <div class="row">
          <div class="col-lg-12">
          <center><p>&copy; 2014 Amber Tunnell. Main photo by Tim de, courtesy of <a href="https://unsplash.com/">unsplash.com</a>. Icons courtesy of <a href="http://thenounproject.com/">The Noun Project</a>.</p></center> 
          </div>
        </div>
      </div>
    </footer>

 
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.lazylinepainter-1.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/classie.js"></script>
		<script src="js/cbpAnimatedHeader.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/scrollReveal.js"></script>
    <script src="js/jquery.scrollTo.js" defer="defer"></script>
    <script src="js/jquery.nav.js" defer="defer"></script>
    <script src="js/imagesloaded.pkgd.min.js" defer="defer"></script>
    <script src="js/isotope.min.js" defer="defer"></script>
    <script src="js/jquery.magnific-popup.min.js" defer="defer"></script>
    <script src="js/jqBootstrapValidation.js" defer="defer"></script>
    <script src="js/raphael-min.js"></script>
    <script src="js/svg.js"></script>
    <script src="js/custom.js"></script>


    <script>

      $(document).ready(function(){
        isotope();
      });

    </script>

  </body>
</html>
