/* Custom Media Queries */

@media (max-width: 991px) and (min-width: 580px) {
    .coffee-svg-box, .code-svg-box, .blog-svg-box, .contact-svg-box
    {
       width: 50%;
       float: left;
    }

    #intro, #intro .item
    {
        height: 700px !important;
    }


}

@media (max-width: 580px){
    #intro, #intro .item
    {
      height: 1000px !important;
    }

    .carousel-caption-center
    {
      max-height: 600px !important;
    }

    #quotes {
      display: hide;
    }
}